* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  height: 0; }

mark {
  background: #ff0;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none; }

#main {
  position: relative;
  width: 100%;
  height: 100%; }

.instructions {
  padding: 10px;
  color: #7f7f7f; }

.notes {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 280px;
  color: #adadad; }

ul {
  margin-top: 15px;
  padding-left: 18px; }

.palette {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 174px;
  border: 1px solid #bbbbbb;
  background-color: whitesmoke;
  text-align: center;
  cursor: default;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .palette .header {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #adadad;
    background: -webkit-linear-gradient(bottom, #cdcdcd, whitesmoke 100%);
    color: #333333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    line-height: 26px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }
  .palette .body {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px; }

.display {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border: 1px solid #003300;
  background: -webkit-linear-gradient(top, #003300, #006600 100%);
  color: lime;
  text-align: right;
  padding-right: 60px;
  -webkit-box-shadow: inset 0 3px 20px rgba(0, 255, 0, 0.5);
  -moz-box-shadow: inset 0 3px 20px rgba(0, 255, 0, 0.5);
  box-shadow: inset 0 3px 20px rgba(0, 255, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .display.noValue span {
    opacity: 0.5; }
  .display .value {
    text-shadow: 0 0 3px #00bb00;
    font-size: 30px;
    font-family: Courier, fixed-width;
    line-height: 36px; }
  .display .units {
    position: absolute;
    right: 15px;
    display: inline-block;
    text-shadow: 0 0 1px #00bb00;
    font-size: 14px;
    line-height: 38px; }

.accuracyMeter {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 12px;
  border: 1px solid #bbbbbb;
  background-color: #e4e4e4;
  color: #999999;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .accuracyMeter .label {
    position: relative;
    z-index: 0;
    color: #555555; }

.accuracyBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 10px;
  opacity: 0.6;
  width: 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

button {
  width: 100%;
  height: 50px;
  border: 1px solid #576675;
  background: -webkit-linear-gradient(top, #b3cce6, #7c9ec0 100%);
  color: #21262c;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  font-weight: bold;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -1px 2px #6b99c7, inset 0 1px 0 #d2e5f9, 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 2px #6b99c7, inset 0 1px 0 #d2e5f9, 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 2px #6b99c7, inset 0 1px 0 #d2e5f9, 0 1px 1px rgba(0, 0, 0, 0.2); }
  button:active {
    background: -webkit-linear-gradient(top, #8cb2d9, #648cb4 100%);
    color: #16191d;
    -webkit-box-shadow: inset 0 -1px 2px #4b85be, inset 0 1px 0 #6699cc;
    -moz-box-shadow: inset 0 -1px 2px #4b85be, inset 0 1px 0 #6699cc;
    box-shadow: inset 0 -1px 2px #4b85be, inset 0 1px 0 #6699cc; }
